pyautogen>=0.2.19
ipython
matplotlib
finnhub-python
yfinance
mplfinance
backtrader
sec_api
numpy
pandas
praw
tushare
pandas_datareader
aiohttp
ratelimit
Requests
scikit_learn
starlette
tenacity
tqdm
typing_extensions
